<main class="view">
    <div class="container">

        <h1><img src="assets/Group 73.svg" alt="Fantasy Delve Games" class="logo-full container"></h1>

        <fdgfeaturedcarousel></fdgfeaturedcarousel>

        <!-- start: cards -->
        <div class="cards">
            <div class="card" ng-repeat="card in homecards">
                
                <h2>{{ card.header }}</h2>

                <p>{{ card.content }}</p>
                
            </div>
        </div>
        <!-- end: cards -->

        <!-- start: footer -->
        <footer class="relative">
            <div class="social-media-container">
                <a ng-repeat="link in socialmedialinks" class="social-media-box" href="{{ link.url }}">
                    <img src="../assets/{{ link.image }}" alt="">
                </a>
            </div>
            <img src="../assets/robert-lukeman-_RBcxo9AU-U-unsplash cropped.png" alt="">
        </footer>
        <!-- end: footer -->
</main>